<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <String key="HOST" value="fc00:17:1:1:0:242:ac11:2" name="Host" description="Server host name or IP" />
        <String key="PORT" value="53" name="Port" description="Server port number" />
        <String key="PATHLOG" value="../../peach-logs/ndp" name="Path" description="log file" />
    </All>
</PitDefines>


