<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <String key="HOST" value="172.17.0.4" name="Host" description="Server host name or IP" />
        <String key="PORT" value="179" name="Port" description="Server port number" />
        <String key="PATHLOG" value="../peach-logs/bgp" name="Path" description="log file" />
    </All>
</PitDefines>