<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
    <All>
        <String key="HOST" value="192.168.5.133" name="Host" description="Server host name or IP" />
        <String key="PORT" value="21" name="Port" description="Server port number" />
        <String key="LOGPATH" value="Logs/auth/" name="Path" description="log path" />
    </All>
</PitDefines>